/* RecoverPassword.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .formContainer {
    background-color: #715E38D9;
    padding: 5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .title {
    font-size: 2rem;
    color:white;
    margin-bottom: 1rem;
  }
  
  .successMessage {
    font-size: 1rem;
    color: white;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  
  .loginButton {
    background-color: #2E230D;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginButton:hover {
    background-color: #3E331D;
  }