.header {
  /* position: relative; */
  background-color: #A67C52;
  color: white;
  direction: rtl; 
  

  
}

.topBar {
  display: flex;
  padding: 0.5rem;
  font-size: 0.875rem;
  justify-content: flex-start; 
  padding-left: 7rem; 

}

.nav {
  /* background-color: #FAF6F2; */
  background-color: #FFFCFC;
  padding: 1.7rem;
  display: flex;
  align-items: center;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); */
  flex-direction: row;
  gap: 1rem;
  /* border-bottom: 1.5px solid black; */
  height: 70px;
  justify-content: space-between;
position: sticky;
top: 0;
}

.logo {
  color: #B18B5E;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: serif;
  order: 1; 
  margin-left: 0; 
  margin-top: 20px;
  /* margin-right: 100px;  */
  position: absolute; 
  font-family: "Reem Kufi", serif  !important; /* استخدام الخط هنا */

}

.searchContainer {
  display: flex;
  align-items: center;
  height: 35px; 
  width:25%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #A67C52;
  order: 0;
  margin-right: 8rem; 
  overflow: hidden; 
}

.searchInput {
  padding: 0.8rem; 
  border: none;
  outline: none;
  color: black;
  width: 100%; 
  direction: rtl; 
  height: 100%; 
  font-size: 1rem;
  padding: 4px;
}

.searchInput:focus {
  border: none; 
  box-shadow: none; 
}

.searchButton {
  background-color: #A67C52;
  color: white;
  padding: 0.5rem 1rem; 
  border: none;
  cursor: pointer;
  height: 100%;
  border-radius: 0 0px 8px 0;
  font-size: 1rem; 
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.profile {
  display: flex;
  width: 150px;
  height: 40px;
  align-items: center;
  border: 1.5px solid #A67C52;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  background-color: white;
  margin-right: 15rem;
}

.profileName {
  color: black;
  padding-right: 0.5rem; 
  margin-right: 8px;
}

.profileImage {
  width:35px;
  height:35px;
  /* margin-right: 2rem;  */
  border-radius: 50%;
  object-fit: cover;
}

.socialIcons {
  display: flex;
  align-items: center;
  margin-right: 1rem; 
  border-radius: 100%;
  gap: 1rem;
  color: #A67C52;
  font-size: 1.125rem;
  order: 1;

}


.socialButton {
  background-color: #FDF6EE;
  padding: 9px;
  border-radius: 50%;
  border: 1px solid #A67C52;
  color: #810000;
  cursor: pointer;
  width: 40px;
  height: 40px;

}
 

.menu {
  /* position: sticky; */
  bottom: 0px;
  /* margin-bottom: 5rem; */
   padding-bottom: 1rem; 
  /* padding-right: 95rem;  */
  /* transform: translateX(50%);  */
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  /* max-width: 600px; */
  border-top:1px solid #171224;
  margin-top: 15px;
  background-color: #FFFCFC;
}

.menuLink {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  transition: color 0.3s, border-top 0.3s; }

.menuLink:hover {
  color: #A67C52;
  border-top: 3px solid #A67C52;
}


